<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="{{url_for('static', filename = 'css/nav-bar.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" />
    {% block head %}

    {% endblock %}
</head>
<body>

<input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Solidarity <span>Bound</span></h3>
      </div>
          {% if not current_user.is_authenticated %}
      <div class="right_area">
        <a href="{{ url_for('auth.login') }}" class="login_btn"><i class="fas fa-sign-in-alt"></i> Connexion</a>
      </div>
        <div class="right_area">
        <a href="{{ url_for('auth.signup') }}" class="signup_btn"><i class="fas fa-user-plus"></i> Inscription</a>
      </div>
        {% endif %}
        {% if current_user.is_authenticated %}
           <div class="right_area">
        <a href="/profil" class="profil_btn"><i class="far fa-address-card"></i> Profil</a>
      </div>
        <div class="right_area">
        <a href="{{ url_for('auth.logout') }}" class="logout_btn"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
      </div>
    {% endif %}
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <center>
        <h4>Navigation</h4>
      </center>
      <a href="/"><i class="fa fa-home"></i><span>Accueil</span></a>
      <a href="/boutique"><i class="fa fa-shopping-cart"></i><span>Boutique</span></a>
      <a href="/contact"><i class="fa fa-envelope"></i><span>Contact</span></a>
      <a href="/mentions"><i class="fas fa-info-circle"></i><span>Mentions légales</span></a>
      <a href="/CGV"><i class="fas fa-info-circle"></i><span>CGV</span></a>
    </div>
    <!--sidebar end-->

    {% block body %}
     <div class="content"></div>

    <div>
    {% endblock %}
    </div>
</body>
</html>