{% extends 'base.html' %}

{% block head %}
    <title>Boutique</title>

{% endblock %}

{% block body %}
    <div class="container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br>
                <div class="alert alert-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% if current_user.is_authenticated %}
                    {% if user.role_id == role_admin %}
                        <br>
         <a style="display:inline" class="btn btn-success float-right" href="/boutique/new">+ Nouveau Produit</a>
                        <br>
        {% endif %}
            {% endif %}
    </div>
    <br>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
    {% for product in products %}
          <div class="col-md-4 col-xs-12">
                <div class="serv">
                     <img class="img-fluid" width="100%" height="225" src="{{ url_for('static', filename='img/uploads/')}}{{ product.image }}" alt="image" />
                    <br>
                    <h2><strong>{{ product.name }}</strong></h2>
                    <h5 style="white-space: pre-wrap"><strong>{{ product.price }}€</strong></h5>
                    <p style="white-space: pre-wrap; color: forestgreen">{% if product.quantity>0 %}Disponible en stock {% endif %} </p>

                    <a class="btn btn-warning" href="/boutique/{{product.id}}">Détails</a>

                   <a class="btn btn-primary" href="/boutique/ajout/{{product.id}}">Ajouter au panier</a>
                </div>
         </div>
    {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}