{% extends 'base.html' %}

    {% block head %}
    <meta charset="utf-8">
        <link href="{{url_for('static', filename = 'css/stylehome.css')}}" rel="stylesheet" />
    <title>{{ product.name }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    {% endblock %}


    {% block body %}
      <!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ product.name }}
    <small>Produit par le CESI</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8" id="img">
      <img class="img-fluid" src="{{ url_for('static', filename='img/uploads/')}}{{ product.image }}">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p>{{ product.description }}</p>
      <h3 class="my-3">Prix : {{ product.price }}€</h3>

    </div>

  </div>
  <!-- /.row -->


    {% endblock %}

