{% extends 'base.html' %}

{% block head %}
<link href="{{url_for('static', filename = 'css/detail.css')}}" rel="stylesheet" />

{% endblock %}

{% block body %}
    <br>
        <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-fluid">
                    <br>
                        <img src="{{ url_for('static', filename='img/uploads/')}}{{ product.image }}" class="img-fluid img-thumbnail" />
                    </div>
                    </div>
                    <div class="col-md-6 col-lg-6 pl-md-5">
                    <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                    <h1 class="mb-4">{{product.name}}</h1>

                    <div class="text-about">
                    <h4>Description du produit</h4>
                    <p> {{product.description}}</p>
                    {% if product.quantity>0 %}
                    <h4 style="white-space: pre-wrap; color: forestgreen">Disponible en stock </h4>
                    {% else %}
                    <h4 style="white-space: pre-wrap; color: darkred"> Rupture de stock </h4>
                     {% endif %}
                    <br>
                        <h5><strong>Prix : {{product.price}}€ </strong></h5>
                    <br>
                    <a class="btn btn-primary btn-lg" href="/boutique/ajout/{{product.id}}">Ajouter au panier</a>
                    </div>
                </div>
                </div>
         </div>
        </div>
    </div>
<br><br>
{% endblock %}