{% extends 'base.html' %}
{% block  head%}
    <link href="{{url_for('static', filename = 'css/stylehome.css')}}" rel="stylesheet" />
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


    {% block body %}

    <section class="sections home text-center">
        <div class="overlay">
            <div class="">
                <div class="home-content">
                    <h3 class="home-title">Bienvenue sur le site de<span> SOLIDARITY BOND</span></h3>
                    <p class="lead home-desc">
                        Achetez des protections contre le covid19
                    </p>
                    <button class="btn button" onclick="window.location.href = '/boutique';">Boutique</button>
                </div>
            </div>
        </div>
    </section>

    <section class="sections about">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title">A propos de nous</h2>
                <div class="line"><span></span></div>
                <p>Petite présentation sur l'entreprise</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="about-info">
                        <h3>L'entreprise<span> Solidarity-Bond</span></h3>
                        <p class="about-info-desc">
                            Notre entreprise propose des services anti-covid19, elle fabrique des visières et les met à disposition des professionnels et particuliers a moindre coût.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="{{ url_for('static', filename='img/undraw_social_distancing_2g0u.png')}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sections services">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title">Nos services</h2>
                <div class="line"><span></span></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icon fas fa-truck"></i>
                        <h3 class="serv-title">Livraison</h3>
                        <p class="serv-desc">Livraison rapide et gratuite sur toute la région Hauts-De-France</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icon fas fa-euro-sign"></i>
                        <h3 class="serv-title">Prix</h3>
                        <p class="serv-desc">Prix des visières concurrent tout le marché</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icon fas fa-lock"></i>
                        <h3 class="serv-title">Paiement sécurisé</h3>
                        <p class="serv-desc">Le paiement en ligne est totalement sécurisé</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
