{% extends 'base.html' %}

{% block head %}
    <title>Connexion</title>
{% endblock %}

{% block body %}
<br>

       <form action="/login" method=post class="form-signin">
           <div class="text-center mb-4">
    <img class="mb-4" src="{{url_for('static', filename='img/cesi-logo.jpg')}}" alt=""  width="72" height="72"/>

      {{ form.hidden_tag() }}
               <h1 class="h3 mb-3 font-weight-normal">Bienvenue sur la page de connexion</h1>
                  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
             {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="form-label-group">
      {{ form.email.label }}
      {{ form.email(class_='form-control') }}
    </div>
    <br>
     <div class="form-label-group">
      {{ form.password.label }}
      {{ form.password(class_='form-control')}}
     </div><br>

      {{ form.remember.label }}
      {{ form.remember(class_='checkbox mb-3')}}

<br>
    <p>N’avez-vous pas de compte ? <a href="/signup">Inscription</a></p>
      {{form.submit(class_='btn btn-outline-primary my-2 my-sm-0')}}
           </div>
    </form>

{% endblock %}