{% extends 'base.html' %}

{% block head %}
    <title>Mon Panier</title>
    <style>
    body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}
    </style>
{% endblock %}

{% block body %}
<div class="px-4 px-lg-0">
  <!-- For demo purpose -->
  <div class="container text-white py-5 text-center">
    <h1 class="display-4">Mon Panier</h1>

  </div>
       {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
  <!-- End -->

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                  {% if products %}
                {% for product in products%}
          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                 <!-- <th scope="col" class=""><a href="/panier/paiement" class="btn btn-outline-success">Procéder au paiement</a><br><hr></th> -->
                  <th scope="col" class=""><a href="/boutique" class="btn btn-outline-info">Revenir à la boutique</a><br><hr></th>
                  <!--<th scope="col" class=""><a href="/panier/payment" class="btn btn-outline-success">Valider la commande</a><br><hr></th>-->
              </tr>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Produit</div>
                  </th>
                        <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantité</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Prix total</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Actions</div>
                  </th>
                    <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Paiment</div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{{ url_for('static', filename='img/uploads/')}}{{ product.image }}" alt="image" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ product.name }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Categorie: Protection anti-covid</span>
                      </div>
                    </div>
                  </th>


                {% for product_p in products_p %}
                       <form action="{{ url_for('update_cart', id=product.id) }}" method="post">
                  <td class="border-0 align-middle">
                               <input type="number" name="quantity" min="1" max="30"
                           value="{{ product_p.quantity }}">
                  </td>
                    <td class="border-0 align-middle"><strong>{{ product_p.total_price}}€</strong></td>
                       <td class="border-0 align-middle">
                 <input class="btn btn-warning" type="submit" value="Modifier">
                             <a href="/panier/delete/{{ product.id }}" class="btn btn-danger">Supprimer</a>
                      </td>
                    </form>

                {% endfor %}

                  <td class="border-0 align-middle">
                        <div id="paypal-button"></div>
                  </td>

                </tr>
              </tbody>

            </table>
          </div>

          <!-- End -->
        </div>
              {% endfor %}
         {% endif %}
      </div>

    </div>
  </div>
</div>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
  var CREATE_PAYMENT_URL  = 'http://127.0.0.1:5000/payment';
    var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/execute';

    paypal.Button.render({
         style: {
          color: 'gold',
          label: 'paypal',

      },
        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {

                console.log(res.success)
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
    
{% endblock %}