{% extends 'base.html' %}

{% block head %}
    <title></title>
{% endblock %}

{% block body %}
    <div class="text-center">
  <img src="{{url_for('static', filename='img/undraw_security.png')}}" width="28%" class="rounded" alt="...">
</div>
    <div class="container">
      {% for field, errors in form.errors.items() %}
            <div  class="alert alert-danger">
            {{ form[field].label }} : {{ ', '.join(errors) }}
            </div>
    {% endfor %}

    <form action="/security/{{ user.id }}" method="post">
     {{ form.hidden_tag() }}

      {{ form.password.label }}
     {{ form.password(class_='form-control') }}
<br>
          {{ form.confirm.label }}
     {{ form.confirm(class_='form-control') }}
<br>
     {{ form.submit(class_='btn btn-primary') }}
    </form>
</div>
    <br>
{% endblock %}