{% extends 'base.html' %}

{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block body %}
  <br>
    <div class="container">
     <div class="text-center mb-4">
    <img class="mb-4" src="{{url_for('static', filename='img/cesi-logo.jpg')}}" alt=""  width="72" height="72"/>
    <h2>Bienvenue sur la page d'inscription</h2>
     </div>
       {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
        {% endwith %}
    {% for field, errors in form.errors.items() %}
            <div  class="alert alert-danger">
            {{ form[field].label }} : {{ ', '.join(errors) }}
            </div>
    {% endfor %}
       <form action="/signup" method=post enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {{ form.name.label }}
      {{ form.name(class_='form-control', placeholder='Allard Thibaut') }}
<br>
         {{ form.location.label }}
      {{ form.location(class_='form-control', placeholder='7 Rue Diderot, 62000, Arras') }}
<br>
           {{ form.email.label }}
      {{ form.email(class_='form-control', placeholder='example@example.com') }}
<br>
           <div class="form-row">
          <div class="col">
      {{ form.password.label }}
      {{ form.password(class_='form-control', placeholder='8 caractères au minimum') }}
          </div>
                   <div class="col">
           {{ form.confirm.label }}
      {{ form.confirm(class_='form-control') }}
                   </div>

           </div>
<br>
                    {{ form.accept.label }}
      {{ form.accept(class_='form-check-label')}}
           <br>
      {{ form.submit(class_='btn btn-outline-primary my-2 my-sm-0') }}
    </form>
    </div>
<br>
{% endblock %}